In [1]:
from ROOT import TCanvas, TH3F
from pandas import DataFrame, read_csv
import numpy as np

Welcome to JupyROOT 6.24/06

In [2]:

df = read_csv('data1.txt', sep = '\s+', header=None, names = ['x', 'y', 'z'])
print('DataFrame created with size {}'.format(df.shape))
df

DataFrame created with size (3001, 3)

         x     y       z
0    -0.00  3.00    1.50
1    -0.05  3.00    1.62
2    -0.11  3.00    1.74
3    -0.16  3.00    1.86
4    -0.22  2.99    1.98
...    ...   ...     ...
2996  1.49 -2.60  361.01
2997  1.54 -2.58  361.13
2998  1.58 -2.55  361.25
2999  1.63 -2.52  361.37
3000  1.67 -2.49  361.49

[3001 rows x 3 columns]

In [3]:
#setting (x y z) arrays for plotting
X_data = df[df.columns[0]]
Y_data = df[df.columns[1]] 
Z_data = df[df.columns[2]]

n = len(X_data)
min_val = min(X_data)
max_val = max(X_data)
min_z = min(Z_data)
max_z = max(Z_data)

In [ ]:
h123 = TH3F("Graph","Motion of a Charged Particle",
            100,-4,4,100, -4, 4,100,0,400)

for i in range (n):
    h123.Fill(X_data[i], Y_data[i], Z_data[i])
    
h123.SetMarkerColor(36)
h123.SetMarkerSize(0.5)
h123.SetMarkerStyle(4)

c4 = TCanvas( 'c4', 'Ejemplo', 200, 10, 600, 400 )
h123.Draw()
c4.Draw()